.menu-header {
  width: auto;
  height: 56px;
  box-shadow: 0px 2px 2px -2px rgb(199, 199, 199);
  padding: 0 40px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.menu-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-header > ul {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.menu-header > ul > li > span {
  display: block;
  cursor: pointer;
  line-height: 56px;
  font-weight: 500;
  font-size: medium;
  color: rgb(36, 36, 36);
  justify-content: center;
}

.menu-header > ul > li > span:hover {
  color: blue;
  justify-content: center;
}

.menu-header > ul > li > ul {
  position: absolute;
  background: rgb(250, 250, 250);
  left: 0;
  right: 0;
  display: none;
  margin: 0px 20px;
  box-shadow: 0 0 2px rgb(216, 216, 216);
}

.menu-header > ul > li:hover ul {
  display: block;
  z-index: 100;
  justify-content: center;
}

.menu-header > ul > li > ul > li {
  margin: 10px 20px;
  float: left;
}

.menu-header > ul > li > ul > li > a {
  font-weight: bold;
}

.menu-header > ul > li > ul > li a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.menu-header > ul > li > ul > li a:hover {
  color: blue;
}
